extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Mikey Mann

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p 
            | I gas the entire digital media engine for a sports nutrition company called Ph.D. Fitness led by my mentors, Dr. Jim Stoppani & Mike McErlane. I love to explore the blurring lines between video media, coding, and motion graphics to help curate truly unique experiences in the ever-evolving tech and fitness space.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li NodeJS
          li Pug Templating
          li MongoDB
          li HTML5 
          li CSS3
          li Virtual Private Servers
          li Linux
          li JavaScript
          li MySQL
          li Computer Information Technology
          li Magento ecommerce


        h6 Contact Info

        //- Add your own contact info
        ul
          li 805-624-1532
          li mikey@bowlegmedia.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/mikeal-mann/' target="_blank" rel="noopener") LinkedIn
        a.button.expanded(href='https://github.com/imikeyi03' target="_blank" rel="noopener") GitHub
        a.button.expanded(href='https://twitter.com/imikeyi03' target="_blank" rel="noopener") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  