html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
  body
        div.not-found-container
            div
                h1.not-found-main 404
                h3.not-found-header Yikes! Too much coffee this morning?
                p.not-found-subtext Let's get you back on track!
                a(href="/").not-found-btn Go Home