
h1,h2,h3,h4,h5,p{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

  h5{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #C5C6C7;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #b9b9b9;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #66FCF1;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #000;
  border-radius: 1%;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
  transition: 200ms linear;
}

.image:hover {
  transform: scale(1.05);
}

.portfolio-me{
  padding: 20px;
  background: #1F2833;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #66FCF1;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail {
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 200ms linear;
  }

  .portfolio-index .thumbnail:hover {
    transform: scale(1.05);
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: rgb(185, 185, 185);
}

.portfolio-bio{
    line-height: 25px;
}


/* 404 Styles */

.not-found-container {
  display: grid;
  height: 100%;
  text-align: center;
}

.not-found-main {
  font-weight: bold;
  font-size: 1000%;
}

.not-found-container div{
  margin: auto;
}

.not-found-btn {
  background-color: #111;
  color: #eaeaea;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px;
  width: 150px;
  border-radius: 25px;
  display: inline-block;
}

.not-found-btn:hover {
  color: #eaeaea;
  cursor: pointer;
}